{% from '_macros/component' import component, spacer %}

{% set footerBgColor = 'bg-grey-100' %}
{% extends '_layouts/global' %}

{% block site %}
	{{ component('blocks/hero-simple', { block: entry.heroSimple }) }}

	<section class="bg-white {{ spacer('none', 'large')|spaceless }}">
		<div class="container">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-11">
				{% for project in entry.projects.all() %}
					{% set card = project.featured ? 'project-card-long' : 'project-card' %}
					{{ component(card, { project: project }) }}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="bg-grey-100 {{ spacer('large', 'small')|spaceless }}" x-data="{ visible: false }">
		<div class="container">
			{{ component('typography/h1', { heading: entry.archive.heading, class: 'max-w-[600px] text-black' }) }}

			<p class="text-4xl leading-13 mt-0 max-w-[600px]">
				{{ entry.archive.keyline }}
			</p>

			{{
				component(
					'button',
					{
						type: 'button',
						text: 'Load Projects',
						class: 'mt-20',
						attributes: { 'x-on:click': 'visible = true', 'x-show': '!visible' }
					}
				)
			}}

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-11 mt-20" x-show="visible" x-collapse.duration.700ms>
				{% for project in entry.archive.projects.all() %}
					{{ component('project-card', { project: project }) }}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
