{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

<!-- Template: {{ _self }} -->
<section class="container {{ spacer('default', 'default')|spaceless }}">
	{{ component('typography/h2', { tag: 'h2', heading: block.heading, class: 'text-black anim-fade-up' }) }}

	<div class="grid grid-cols-2 mt-16 lg:mt-32 gap-12 lg:gap-20">
		<div class="col-span-full lg:col-span-1">
			{{ component('typography/intro-copy', { copy: block.description, class: 'text-black anim-fade-up' }) }}
		</div>

		<div class="col-span-full lg:col-span-1" x-data="{active: null}">
			{% for item in block.accordionItems.with('image').all() %}
				{{ component('accordion-item', { 
					item: item, 
					id: loop.index 
				}) }}
			{% endfor %}
		</div>
	</div>

	{% if block.button %}
		<div class="flex justify-end mt-13 lg:mt-25 anim-fade-up">
			{{ component('button', { button: block.button }) }}
		</div>
	{% endif %}
</section>
