{% from '_macros/component' import component %}

<section
	class="pt-32 md:pt-60 lg:pt-100 pb-28 {{ class ?? '' }} {{ block.bringBelowContentUp ? '-mb-10' : '' }}"
	style="background-color: {{ block.backgroundColour ?? '#ffffff' }}"
>
	<div class="container">
		{{
			component(
				'typography/h1',
				{ heading: block.heading, tag: 'h1', class: 'lg:max-w-[60%] anim-fade-up text-black' }
			)
		}}

		{% if block.keyline %}
			<p
				class="text-4xl leading-normal mt-2 lg:max-w-[60%] anim-fade-up {{
				block.textStyle == 'light'
					? 'text-white'
					: ''
				}}"
			>
				{{ block.keyline }}
			</p>
		{% endif %}
	</div>
</section>
