{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

{% set testimonial = block.testimonials.one() ?? null %}

{% if testimonial %}
  <!-- Template: {{ _self }} -->
  <section class="container {{ spacer(block.spacingTop, block.spacingBottom)|spaceless }}">
    <div
      class="rounded-xl w-full px-50 py-35 text-black flex flex-col"
      style="background-color: {{ testimonial.projectColour ?? '#efefef' }}"
    >
      <span class="text-2xl leading-none">//</span>

      <p class="text-2xl mt-12">
        {{ testimonial.testimonial }}
      </p>

      <p class="text-lg mt-16">
        {{ testimonial.title }}
      </p>

      <p class="text-lg">
        {{ testimonial.clientName }}
      </p>
    </div>
  </section>
{% endif %}
