{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

<!-- Template: {{ _self }} -->
<section
	x-data="testimonials()"
	class="container embla {{ spacer(block.spacingTop.value, block.spacingBottom.value)|spaceless }}"
>
	<div class="embla__viewport" x-ref="slider">
		<div class="embla__container">
			{% for testimonial in block.testimonialEntries.all() %}
				<div class="embla__slide">
					<div
						class="rounded-xl w-full p-16 lg:px-50 lg:py-35 text-black flex flex-col {{
						testimonial.textStyle == 'light'
							? 'text-white'
							: ''
						}}"
						style="background-color: {{ testimonial.projectColour ?? '#efefef' }}"
					>
						<span class="text-2xl leading-none">//</span>

						<p class="text-2xl mt-6 lg:mt-12">
							{{ testimonial.testimonial }}
						</p>

						<p class="text-lg mt-8 lg:mt-16">
							{{ testimonial.title }}
						</p>

						<p class="text-lg">
							{{ testimonial.clientName }}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{% if (block.testimonialEntries|length) > 1 %}
		<div class="flex flex-row justify-between gap-10 lg:gap-20 mt-10">
			<div class="embla__dots"></div>

			<div class="embla__buttons">
				<button
					class="embla__button--prev w-[40px] h-[40px] inline-flex items-center justify-center bg-grey-100 rounded-full p-2 hover:cursor-pointer hover:bg-black hover:text-white transition duration-300"
					type="button"
				>
					{{ svg('@webroot/svg/icon-chevron.svg')|attr({ class: 'rotate-180 -ml-1' }) }}
				</button>

				<button
					class="embla__button--next w-[40px] h-[40px] inline-flex items-center justify-center bg-grey-100 rounded-full p-2 hover:cursor-pointer hover:bg-black hover:text-white transition duration-300"
					type="button"
				>
					{{ svg('@webroot/svg/icon-chevron.svg')|attr({ class: '-mr-1' }) }}
				</button>
			</div>
		</div>
	{% endif %}
</section>
