{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

<!-- Template: {{ _self }} -->
<section class="container {{ spacer(block.spacingTop.value, block.spacingBottom.value)|spaceless }}">
	<div class="flex">
		<div class="lg:w-1/2 {{ block.textPosition == 'right' ? 'ml-auto lg:pl-4' : 'lg:pr-4' }}">
			{{ component('typography/h3', { heading: block.title, tag: 'h2', class: 'text-black anim-fade-up' }) }}

			<div class="rte mt-2 mb-8 lg:mb-16 anim-fade-up">
				{{ block.text }}
			</div>

			{{ link(block.button, { class: 'underline underline-offset-4 text-black text-lg anim-fade-up' }) }}
		</div>
	</div>
</section>
