{% from '_macros/component' import component, spacer %}
{% from '_macros/image' import image %}

{% set block = block ?? null %}

{% if block %}
  <section class="-mt-10 {{ spacer('none', 'default')|spaceless }}">
    <div class="container grid grid-cols-1 lg:grid-cols-2 gap-20 lg:order-1">
      <div class="lg:order-2">
        {{ image(block.image.one()) }}
      </div>

      <div class="h-full flex flex-col justify-center gap-12">
        {{ component('typography/h2', { tag: 'h1', heading: block.heading, class: 'text-black anim-fade-up' }) }}
        {{ component('typography/intro-copy', { copy: block.keyline, class: 'text-black anim-fade-up' }) }}

        {% if block.button %}
          <div class="anim-fade-up">
            {{ component('button', { button: block.button }) }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
