{% from '_macros/component' import component, spacer %}
{% from '_macros/image' import image %}

{% set image = item.image.one() ?? null %}

<div 
	x-data="{
		id: {{ id }},
		get expanded() {
			return this.active === this.id
		},
		set expanded(value) {
			this.active = value ? this.id : null
		},
	}"
	role="region"
	class="block bg-grey-100 rounded-2xl mb-5 last:mb-0 anim-fade-up"
>
	<button
		type="button"
		x-on:click="expanded = !expanded"
		:aria-expanded="expanded"
		class="group flex w-full items-center justify-between text-left hover:cursor-pointer px-10 py-6"
	>
		{{ component('typography/h3', { heading: item.title, class: 'text-black' }) }}

		<div
			class="h-8 w-8 rounded-full flex items-center justify-center  duration-300"
			aria-hidden="true"
			:class="expanded ? 'rotate-45 bg-purple' : 'bg-white rotate-0'"
		>
			{{ svg('@webroot/svg/icon-plus.svg')|attr({ class: 'w-5 text-black' }) }}
		</div>
	</button>

	<div x-show="expanded" x-collapse>
		<div class="px-10 pb-6 grid grid-cols-1 md:grid-cols-2 gap-10">
			<div class="flex flex-col {{ image ? 'lg:col-span-1' : 'lg:col-span-2' }}">
				<p class="text-lg">
					{{ item.description }}
				</p>

				{% if item.button %}
					<div class="mt-auto">
						{{ component('button', { button: item.button, class: 'mt-5' }) }}
					</div>
				{% endif %}
			</div>

			{% if image %}
				<div class="flex justify-end">
					{{ image(image) }}
				</div>
			{% endif %}
		</div>
	</div>
</div>
