{# Variables #}
{% set button = button ?? null %}
{% set color = color ?? 'black' %}
{% set url = url ?? null %}
{% set text = text ?? '[CHANGE ME]' %}
{% set icon = icon ?? null %}
{% set showText = showText ?? true %}
{% set showIcon = showIcon ?? true %}
{% set class = class ?? '' %}
{% set attributes = attributes ?? {} %}
{% set baseClass =
  'rounded-full px-5 py-4 text-lg group border items-center inline-flex leading-none gap-2 hover:cursor-pointer motion-safe:duration-300 motion-safe:transition'
%}

{% if button %}
  {% set url = button.url %}
  {% set text = button.label %}
  {% set attributes = {
    'aria-label': button.ariaLabel ?? '',
    target: button.target ?? '',
    title: button.title ?? '',
    download: button.download ?? false
  } %}
{% endif %}

{% switch color %}
  {% case 'white' %}
    {% set class = class ~ ' text-white border-white hover:bg-white hover:text-black' %}
  {% default %}
    {% set class = class ~ ' text-black border-black' %}
{% endswitch %}

{# Output #}
<!-- Template: {{ _self }}.twig -->
{% if url != null %}
  <a href="{{ url }}" class="{{ twMerge(baseClass, class) }}" {{ attr(attributes) }}>
    {% if showText %}
      <span class="motion-safe:duration-300 motion-safe:transition">{{ text }}</span>
    {% endif %}

    {% if showIcon %}
      <span class="-rotate-90">{{ svg('@webroot/svg/icon-chevron.svg')|attr({ class: 'w-5' }) }}</span>
    {% endif %}
  </a>
{% else %}
  <button type="{{ type ?? 'button' }}" class="{{ twMerge(baseClass, class) }}" {{ attr(attributes) }}>
    {% if showText %}
      <span class="">{{ text }}</span>
    {% endif %}

    {% if showIcon %}
      <span class="-rotate-90">{{ svg('@webroot/svg/icon-chevron.svg')|attr({ class: 'w-5' }) }}</span>
    {% endif %}
  </button>
{% endif %}
