{% from '_macros/component' import component, spacer %}

{% macro errorList(errors) %}
	{% if errors %}
		{{ ul(errors, { class: 'errors' }) }}
	{% endif %}
{% endmacro %}

{% set submission = submission ?? null %}
{% set formClass = 'text-xl w-full block placeholder:text-black text-black py-4 px-2' %}

{% if craft.app.session.hasFlash('success') %}
	<p class="message success">
		{{ craft.app.session.getFlash('success') }}
	</p>
{% elseif craft.app.session.hasFlash('error') %}
	<p class="message error">
		{{ craft.app.session.getFlash('error') }}
	</p>
{% endif %}

<form method="post" action="" accept-charset="UTF-8" class="border border-black rounded-2xl px-10 pt-6 pb-10">
	{{ csrfInput() }}
	{{ actionInput('contact-form/send') }}
	{{ redirectInput('contact') }}

	<input id="balloon" name="balloon" value="" type="text" style="display: none" />

	<div class="divide-y divide-black">
		<div>
			<input
				type="text"
				id="fromName"
				name="fromName"
				placeholder="Name"
				aria-label="Full Name"
				value="{{ submission.fromName ?? '' }}"
				class="{{ formClass }}"
				required
			/>
			{{ submission ? _self.errorList(submission.getErrors('fromName')) }}
		</div>

		<div>
			<input
				type="email"
				id="fromEmail"
				name="fromEmail"
				placeholder="Email"
				aria-label="Your Email"
				value="{{ submission.fromEmail ?? '' }}"
				class="{{ formClass }}"
				required
			/>
			{{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}
		</div>

		<div>
			<input
				type="text"
				id="fromName"
				name="message[Phone]"
				placeholder="Phone"
				aria-label="Full Name"
				value="{{ submission.message.phone ?? '' }}"
				class="{{ formClass }}"
				required
			/>
			{{ submission ? _self.errorList(submission.getErrors('message.phone')) }}
		</div>

		<div>
			<input
				type="text"
				id="fromName"
				name="message[Company]"
				placeholder="Company"
				aria-label="Full Name"
				value="{{ submission.message.company ?? '' }}"
				class="{{ formClass }}"
			/>
			{{ submission ? _self.errorList(submission.getErrors('message.company')) }}
		</div>

		<div>
			<input
				type="text"
				id="subject"
				name="subject"
				placeholder="Subject"
				aria-label="Subject of your email"
				value="{{ submission.subject ?? '' }}"
				class="{{ formClass }}"
			/>

			{{ submission ? _self.errorList(submission.getErrors('subject')) }}
		</div>

		<div>
			{# prettier-ignore-start #}
			<textarea
				id="message"
				name="message"
				placeholder="Your project details"
				aria-label="Your project details"
				class="h-[120px] {{ formClass }}"
			>{{ submission.message ?? '' }}</textarea>
            {# prettier-ignore-end #}

			{{ submission ? _self.errorList(submission.getErrors('message')) }}
		</div>
	</div>

	{# <h3><label for="message">Message</label></h3>
	{{ tag('textarea', { text: submission.message ?? '', id: 'message', name: 'message', rows: 10, cols: 40 }) }} #}
	<div class="mt-4 pt-10 text-right border-t border-black">
		{{ component('button', { text: 'Submit', type: 'submit' }) }}
	</div>
</form>
