{% from '_macros/component' import component, spacer %}

{% macro errorList(errors) %}
	{% if errors %}
		{{ ul(errors, { class: 'errors' }) }}
	{% endif %}
{% endmacro %}

{% set submission = submission ?? null %}
{% set formClass = 'text-xl w-full block placeholder:text-black text-black py-4 px-2' %}
{% set errorClass = 'text-base text-white pb-2 -mt-2 px-2 block' %}


<form method="post" action="" accept-charset="UTF-8" class="border border-black rounded-2xl px-10 pt-6 pb-10"  x-data="contact()" x-on:submit.prevent="submit">
	{{ csrfInput() }}
	{{ actionInput('contact-form/send') }}
	{{ redirectInput('contact') }}

	<input id="balloon" name="balloon" value="" type="text" style="display: none" />

	<div x-show="showMessage" class="text-lg px-2 text-white mb-4" x-text="message" x-cloak></div>

	<div class="divide-y divide-black">
		<div>
			<input
				type="text"
				id="fromName"
				name="fromName"
				placeholder="Name"
				aria-label="Full Name"
				value="{{ submission.fromName ?? '' }}"
				class="{{ formClass }}"
				required
			/>

			<p
				class="{{ errorClass }}"
				x-show="getError('fromName')"
				x-cloak
				x-text="getErrorText('fromName')"
			></p>
		</div>

		<div>
			<input
				type="email"
				id="fromEmail"
				name="fromEmail"
				placeholder="Email"
				aria-label="Your Email"
				value="{{ submission.fromEmail ?? '' }}"
				class="{{ formClass }}"
				required
			/>

			<p
				class="{{ errorClass }}"
				x-show="getError('fromEmail')"
				x-cloak
				x-text="getErrorText('fromEmail')"
			></p>
		</div>

		<div>
			<input
				type="text"
				id="fromName"
				name="message[Phone]"
				placeholder="Phone"
				aria-label="Full Name"
				value="{{ submission.message.phone ?? '' }}"
				class="{{ formClass }}"
				required
			/>
		</div>

		<div>
			<input
				type="text"
				id="fromName"
				name="message[Company]"
				placeholder="Company"
				aria-label="Full Name"
				value="{{ submission.message.company ?? '' }}"
				class="{{ formClass }}"
			/>
		</div>

		<div>
			<input
				type="text"
				id="subject"
				name="subject"
				placeholder="Subject"
				aria-label="Subject of your email"
				value="{{ submission.subject ?? '' }}"
				class="{{ formClass }}"
				required
			/>

			<p
				class="{{ errorClass }}"
				x-show="getError('subject')"
				x-cloak
				x-text="getErrorText('subject')"
			></p>
		</div>

		<div>
			{# prettier-ignore-start #}
			<textarea
				id="message"
				name="message"
				placeholder="Your project details"
				aria-label="Your project details"
				class="h-[120px] {{ formClass }}"
				required
			>{{ submission.message ?? '' }}</textarea>
            {# prettier-ignore-end #}

            <p
				class="{{ errorClass }}"
				x-show="getError('message')"
				x-cloak
				x-text="getErrorText('message')"
			></p>
		</div>
	</div>

	{# <h3><label for="message">Message</label></h3>
	{{ tag('textarea', { text: submission.message ?? '', id: 'message', name: 'message', rows: 10, cols: 40 }) }} #}
	<div class="mt-4 pt-10 text-right border-t border-black">
		{{ component('button', { text: 'Submit', type: 'submit' }) }}
	</div>
</form>
