{% from '_macros/component' import component, spacer %}
{% from '_macros/image' import image %}

{% set image = expertise.image.one() ?? null %}

<div
  x-data="{
	id: {{
  id
  }},
	get expanded() {
		return this.active === this.id
	},
	set expanded(value) {
		this.active = value ? this.id : null
	},
}"
  role="region"
  class="block bg-grey-100 rounded-2xl px-10 py-6 mb-8 last:mb-0 anim-fade-up"
>
  <button
    type="button"
    x-on:click="expanded = !expanded"
    :aria-expanded="expanded"
    class="group flex w-full items-center justify-between text-left hover:cursor-pointer"
  >
    {{ component('typography/h3', { heading: expertise.title, class: 'text-black' }) }}

    <div
      class="h-8 w-8 rounded-full flex items-center justify-center bg-purple"
      x-show="expanded"
      x-cloak
      aria-hidden="true"
    >
      {{ svg('@webroot/svg/icon-cross.svg')|attr({ class: 'text-black w-5' }) }}
    </div>

    <div class="h-8 w-8 rounded-full flex items-center justify-center bg-white" x-show="!expanded" aria-hidden="true">
      {{ svg('@webroot/svg/icon-plus.svg')|attr({ class: 'w-5 text-black' }) }}
    </div>
  </button>

  <div x-show="expanded" x-collapse>
    <div class="pt-6 grid grid-cols-2 gap-10">
      <div class="{{ image ? 'lg:col-span-1' : 'lg:col-span-2' }}">
        <p class="text-lg">
          {{ expertise.description }}
        </p>
      </div>

      {% if image %}
        <div>
          {{ image(image) }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
