{% from '_macros/image' import image %}
{% from '_macros/component' import component %}

{% set textColour = entry.projectCardStyle == 'dark' ? 'text-white' : 'text-black' %}

<!-- Template: {{ _self }} -->
<div class="pt-100 mb-16 {{ textColour }}" style="background-color: {{ entry.projectColour }}">
  <div class="container">
    <div class="grid grid-cols-2 gap-10">
      <div class="mb-28 col-span-1 flex flex-col">
        {{ component('typography/h3', { heading: entry.title, tag: 'h1', class: 'mt-auto ' ~ textColour }) }}

        <p class="text-4xl leading-13 mt-16">
          {{ entry.keyline }}
        </p>

        {{ component('tags', { tags: entry.projectCategories.all(), class: 'mt-16' }) }}
      </div>

      <div class="col-span-1 -mb-16">
        {{
          image(
            entry.image.one(),
            { wrapperClass: 'aspect-[8/7] block overflow-hidden', class: 'w-full h-full rounded-2xl object-cover' }
          )
        }}
      </div>
    </div>
  </div>
</div>
