<!-- Template: {{ _self }} -->
<header
	x-data="header"
	x-resize.document="resizeEvent"
	class="container mx-auto fixed top-0 left-0 right-0 flex gap-4 items-center justify-between transition-all duration-500 z-40 text-black pt-6 lg:pt-12"
	@scroll.window="handleScroll"
	:class="{
		'pt-6 lg:pt-12' : atTop,
		'pt-4' : !atTop,
	}"
>
	<a
		href="/"
		title="{{ siteName }}"
		class="transtion duration-300 z-50"
		:class="{
    'opacity-100 translate-y-0 ' : atTop,
    'opacity-0 -translate-y-full pointer-events-none' : !atTop,
  }"
	>
		<div x-show="!isMobile">
			{{ svg("@webroot/svg/logo-#{logoColour}.svg")|attr({ class: 'w-[140px] h-auto' }) }}
		</div>

		<div x-cloak x-show="isMobile">
			{{ svg('@webroot/svg/logo-sm.svg')|attr({ class: 'w-[60px] h-auto' }) }}
		</div>
	</a>

	{{ include('_components/navigation/main') }}

	<div class="lg:hidden relative z-[31]">
		<button
			type="button"
			class="inline-flex items-center gap-4 py-2 border-b border-transparent transition duration-300 font-medium text-black text-base hover:cursor-pointer"
			x-on:click="toggleNav"
			aria-label="Open/Close the mobile menu"
		>
			<span x-show="!showNav" class="flex items-center">
				<span>Menu</span>
				<span class="w-5 ml-3">{{ svg('@webroot/svg/icon-menu.svg') }}</span>
			</span>
			<span x-show="showNav" class="flex items-center" style="display: none">
				<span>Close</span>
				<span class="w-5 ml-3">{{ svg('@webroot/svg/icon-cross.svg') }}</span>
			</span>
		</button>
	</div>
</header>
