{% set mainNav = craft.navigation.nodes('mainNav').with('children').level(1).all() %}

<nav 
	role="navigation" 
	class="fixed inset-0 h-dvh lg:h-auto bg-white/60 backdrop-blur-sm z-30 lg:relative lg:ml-auto lg:rounded-full p-1 lg:flex gap-1 items-center transition duration-300"
	x-show="showNav"
	x-transition:enter="transition ease-in-sharp duration-700"
	x-transition:enter-start="transform -translate-y-full"
	x-transition:enter-end="transform translate-y-0"
	x-transition:leave="transition ease-in-sharp duration-700"
	x-transition:leave-start="transform translate-y-0"
	x-transition:leave-end="transform -translate-y-full"
	style="display: none;"
>
	<a href="/" title="{{ siteName }}"
		class="w-[56px] h-[56px] transition-all duration-200"
		:class="{
			'opacity-0 hidden' : atTop,
			'opacity-100 block' : !atTop,
		}"
	>{{ svg('@webroot/svg/logo-sm.svg')|attr({ class: 'w-full h-full' }) }}</a>

	<ul class="flex flex-col lg:flex-row">
		
		{% for node in mainNav %}
			<li class="relative">
				<a
					class="py-2 text-base leading-normal relative px-5 py-4 block hover:bg-black hover:text-white rounded-full"
					href="{{ node.url }}"
					{% if node.newWindow %} target="_blank" rel="noopener" {% endif %}
					{% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}
				>
					<span class="leading-normal motion-safe:transition-all ease-out duration-300">{{ node.title }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
